@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none; 
}

*{
    margin-top: 10px;
    font-size:100%;
}

.cabecalho{
    padding: 0px;
}

.corpo{
    padding: 10px;
    margin:0 auto;
    min-width: 250px;
    max-width: 1000px;
    background-color: #ffffff;
    box-shadow: 1px 2px 1px black;
    border-radius: 5px;

}

.dados-empresa{
    display: flex;
    justify-content:space-evenly;
    padding: 10px;
}

.redes-sociais-empresa{
    font-family: 'Righteous', cursive;
    gap: 5px;
    font-size: 16px;
}

.alinhamento-redes-empresa{
    display: flex;
    align-items: stretch;
}

.img-logo{
    height: 70px;
}

.conteudo-titulo{
    font-family: 'Righteous', cursive;
    font-size: 50px;
}

.conteudo-texto{
    font-family: 'Righteous', cursive;
    font-size: 15px;
    color: #2F4F4F;
}

.conteudo-texto-descricao{
    font-family: 'Righteous', cursive;
    font-size: 15px;
    color: #000000;
}

.logo-rede-empresa{
    height: 15px;
}

.logo-rede-empresa2{
    height: 15px;
}

.categorias{
    font-family: 'Righteous', cursive;
    font-size: 17px;
    padding-top: 20px;
    min-width: 250px;
    max-width: 1000px;
    margin:auto;
}

.categoria-1{
    padding-top: 20px;
    min-width: 250px;
    max-width: 1000px;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content:left
}


.imagem-cardapio{
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.item{
    background-color:rgba(255, 255, 255, 0.3);
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}


.rodape{
    padding: 10px;
    border-top: 1px solid #530201;
}

